<form [formGroup]="dochSearchForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-lg-3" style="margin-left: 30%;">
    <div class="form-group" >
        <label  for="id" name="id">Id</label>
        <input  name="id"  formControlName="id"  class="form-control"   [ngClass]="{ 'field-error': !dochSearchForm.get('id').valid }"/>
        <span class="error-text" *ngIf="dochSearchForm.get('id').hasError('required')">Invalid input</span>
         <span class="error-text" *ngIf="dochSearchForm.get('id').hasError('pattern')">Put must 9 Numbers!</span>  
    </div>

    <div class="form-group">
        <label for="firstName" name="FirstName">FirstName</label>
        <input type="text" formControlName="firstName"  formControlName="firstName"  name="firstName" class="form-control" [ngClass]="{ 'field-error': !dochSearchForm.get('firstName').valid }" >
        <span class="error-text" *ngIf="dochSearchForm.get('firstName').hasError('pattern')"> must hebrew letters</span> 
        <span class="error-text" *ngIf="dochSearchForm.get('firstName').hasError('required')">Invalid input</span>
    </div>
    <div class="form-group">
        <label for="lastName" name="LastName">LastName</label>
        <input type="text"   name="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'field-error': !dochSearchForm.get('lastName').valid }">
        <span class="error-text" *ngIf="dochSearchForm.get('lastName').hasError('pattern')">  must hebrew letters</span>
        <span class="error-text" *ngIf="dochSearchForm.get('lastName').hasError('required')">Invalid input</span> 
    </div>
    <div class="form-group">
        <label for="codeMosad" name="CodeMosad">Code mosad</label>
        <input type="number"  name="codeMosad"   formControlName="codeMosad"  class="form-control" id="exampleInputCodeMosad1"  [ngClass]="{ 'field-error': !dochSearchForm.get('codeMosad').valid }">
        <span class="error-text" *ngIf="dochSearchForm.get('codeMosad').hasError('pattern')"> Must numbers</span>
        <span class="error-text" *ngIf="dochSearchForm.get('codeMosad').hasError('required')">Invalid input</span> 
    </div>
    <div class="form-group">
        <label for="phone" name="Phone">Phone</label>
        <input type="text"   name="phone" formControlName="phone" class="form-control" id="exampleInputPhone1" [ngClass]="{ 'field-error': !dochSearchForm.get('phone').valid }">
        <span class="error-text" *ngIf="dochSearchForm.get('phone').hasError('pattern')"> Must valid phone</span>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" formControlName="email" class="form-control"  name="email" id="exampleInputEmail1"
            aria-describedby="emailHelp" [ngClass]="{ 'field-error': !dochSearchForm.get('email').valid }">
            <span class="error-text" *ngIf="dochSearchForm.get('email').hasError('pattern') "> Must valid mail</span>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password" name="password">Password</label>
        <input type="password" formControlName="password"  name="password" class="form-control" id="exampleInputPassword1" [ngClass]="{ 'field-error': !dochSearchForm.get('password').valid }">
        <span class="error-text" *ngIf="dochSearchForm.get('password').hasError('required')">Invalid input</span> 
    </div>
    <div class="form-group form-check">
        <input formControlName="codeMosad"  type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
</div>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>