<div class="container">
    <div class="row">
  
      <div class="col-md-8" id="htmlData" #htmlData>
        <table class="table table-bordered">
          <tr class="table-primary">
            <tr>  
              <th>Id</th>  
              <th>Name</th>  
              <th>Salary</th>  
          </tr>  
          <tr *ngFor="let item of Data">  
              <th>{{item.Id}}</th>  
              <th>{{item.Name}}</th>  
              <th>{{item.Salary}}</th>  
          </tr> 
        </table>
      </div>
  
      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-block" (click)="SavePDF()">Open PDF</button>
        <button class="btn btn-danger btn-block" (click)="downloadPDF()">Download PDF</button>
      </div>
  
    </div>
  </div>