<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets\img\סמל.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <label #login></label>
      <p *ngIf="user.id==null">ההרשמה צריכה לעבור אישור מנהל</p>

      <input type="text" id="firstName" class="fadeIn third" name="fname" placeholder="שם פרטי" type="text"
        maxlength="15" [(ngModel)]="user.firstName">
      <input type="text" [(ngModel)]="user.lastName" id="lastName" class="fadeIn third" name="lname"
        placeholder="שם משפחה" type="text">
      <input type="text" id="phone" [(ngModel)]="user.phone" class="fadeIn third" name="phone" placeholder="טלפון"
        type="tel">
      <input type="text" id="email" [(ngModel)]="user.email" class="fadeIn third" name="email" placeholder="מייל"
        type="email">
      <input type="text" id="id" [(ngModel)]="user.id" class="fadeIn second" name="tz" placeholder="מספר זהות" min="9"
        max="9" type="text">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="סיסמא" type="password">
      <input type="submit" class="fadeIn fourth" value="אישור" (click)="savaUser()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>