<div class="page-wrapper bg-gra-03 p-t-45 p-b-50  col-lg-9 col-md-">
<form dir="rtl">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">רשימת כיתות</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>בחרי כיתה</option>
          <option value="1">כיתה א</option>
          <option value="2">כיתה ב</option>
          <option value="3">כיתה ג</option>
        </select>
      </div>
       <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
   
</form>
</div>
<!--<p>introducing-labor-productivity works!</p>-->

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50  col-lg-9 col-md-">
  <div class="wrapper wrapper--w790">
      <div class="card card-5">
          <div class="card-heading">
              <h2 class="title">ציוני תלמידות</h2>
          </div>
          <div class="card-body">
              <form method="POST"> 

                  <div>
                    <table class="table table-fixed">

                        <!--Table head-->
                        <thead class="black white-text">
                          <tr>
                            <th>#</th>
                            <th>שם תלמידה</th>
                            <th>ציון</th>
                            
                          </tr>
                        </thead>
                        <!--Table head-->
                      
                        <!--Table body-->
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>ברכה</td>
                            <td><input class="file-path validate col-sm-3" type="text" placeholder= "ציון">
                            </td>                      
                            </tr>
                        </tbody>
                    </table>
                  </div>
                 <div>
                  <button type="button" class="btn btn-secondary">אישור</button>

                 </div>
                </form>
            </div>
      </div>
  </div>
</div>
